.add-prompt-response {
  background-color: inherit;
  border: none;
  float: left;
}

.prompt-response {
  border: 1px solid gray;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.prompt-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.prompt-input-container {
  width: 50%;
}

.prompt-input {
  font-size: 1em;
  height: 150px;
  padding: 1%;
  width: 100%;
}

.prompt-submit {
  display: block;
  float: right;
  font-size: 1em;
  padding: 5px;
}
